@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-VariableFont_wght.ttf");
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-Italic-VariableFont_wght.ttf");
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {
    --base-color: #272361;
    --danger: oklch(0.6 0.2 25);
}

h1,
h2,
h3,
p,
body {
    margin: 0;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 200px 1fr;
    accent-color: #272361;
}

header .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    nav {
        flex-grow: 1;
    }
}

main .container {
    display: grid;
    gap: 1rem;

    header {
        display: flex;
    }

    .table-wrapper {
        border: 1px solid black;
        overflow-x: auto;
    }

    table {
        width: 100%;
    }
}

form div {
    display: flex;

    &:has(input:not([type="checkbox"])) {
        flex-direction: column;
    }

    &:has(input:required) label::after {
        content: "*";
        color: var(--danger);
    }

    p {
        color: var(--danger);
        font-style: italic;
        font-weight: bold;
        font-size: 0.75rem;
        letter-spacing: 0.1rem;
    }
}
